################
# ddclient.conf
# namecheap
################
use=web, web=dynamicdns.park-your-domain.com/getip
protocol=namecheap
server=dynamicdns.park-your-domain.com
login={{ namecheap_dyn_dns_name }}
password={{ namecheap_dyn_dns_key }}
cactusnet