#jinja2: lstrip_blocks: "True"
{% for record in a_records %}
    {% if 'subdomain' in record %}
local-data: "{{ record['subdomain'] }}.{{ hostvars[record['host']].dns_name }} A {{ hostvars[record['host']].ansible_host }}"
    {% else %}
local-data: "{{ hostvars[record['host']].dns_name }} A {{ hostvars[record['host']].ansible_host }}"
    {% endif %}
{% endfor %}