[Interface]
Address = {{ private_ip }}/24
ListenPort = {{ listen_port }}
PrivateKey = {{ private_key }}

{% for peer in peers %}
[Peer]
PublicKey = {{ peer['public_key'] }}
AllowedIPs = {{ peer['private_ip'] }}/32

{% endfor %}