[Interface]
Address = {{ wg_private_ip }}/24

[Peer]
PublicKey = {{ wg_server_public_key }}
Endpoint = {{ wg_server_ip }}:{{ wg_server_listen_port }}
AllowedIPs = 0.0.0.0/0, ::/0

# Behind NAT
PersistentKeepalive = 25